@import "tailwindcss";

* {
    user-select: none;
}

@font-face {
    font-family: "DinkieBitmap 7px";
    src: url("/fonts/DinkieBitmap-7px.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DinkieBitmap 9px";
    src: url("/fonts/DinkieBitmap-9px.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zpix";
    src: url("/fonts/zpix.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelMplus10 Bold";
    src: url("/fonts/PixelMplus10-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelMplus10 Regular";
    src: url("/fonts/PixelMplus10-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-nso-white: #f9eff9;
    --color-nso-cyan: #90f4e4;
    --color-nso-purple: #4d23cf;
    --color-nso-light-pink: #f0d1f1;
    --color-nso-dark-pink: #e6a2e4;
    --color-nso-light-purple: #f6e0f8;
    --color-nso-gray: #e2e2e2;

    --font-nso-dinkie-9px: "DinkieBitmap 9px", "monospace";
    --font-nso-dinkie-7px: "DinkieBitmap 7px", "monospace";
    --font-nso-zpix: "Zpix", "monospace";
    --font-nso-pixelmplus-b: "PixelMplus10 Bold", "monospace";
    --font-nso-pixelmplus-r: "PixelMplus10 Regular", "monospace";
    --font-nso-pressstart-2p: "PressStart2P", "monospace";

    --animate-fade-in: fade-in 0.2s ;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

html {
    font-family: "DinkieBitmap 9px";
    color: #4d23cf;
}

img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    user-select: none;
}

.icon {
    pointer-events: none;
}
